#paytm{
	height: 100%;
	width: 100%;
}
#head
{
	height: 20%;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px solid #DADADA;
	padding-bottom: 10px;
}
#head > img{
	width: 40%;
}
#payDetails{
	height: 70%;
	width: 100%;
}
#qrCode{
	width: 25%;
	min-width: 300px;
}
#qrCode >img{
	width: 100%;
	min-width: 280px;
}
#mobile > span:nth-child(1){
	font-size: 20px;
    color: #2C2C2C;
    font-family: monospace;
}
#mobile > span:nth-child(2){
	font-size: 70px;
    color: #042e6f;
    font-weight: 900;
}